
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutYentrapragada.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>MeetMe Personal</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="~/vendors/popup/magnific-popup.css">
    <link rel="stylesheet" href="~/vendors/flaticon/flaticon.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <style>
        .home_banner_area {
            position: relative;
            z-index: 1;
            background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
            background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
            background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
            margin-bottom: 50px;
        }

            .home_banner_area .box_1620 {
                min-height: 50px;
                border-radius: 12px;
                position: relative;
                bottom: -20px;
                background: #fff;
                padding: 30px;
                box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
            }

            .home_banner_area .banner_inner {
                position: relative;
                width: 100%;
                min-height: 70px;
                display: flex;
            }

                .home_banner_area .banner_inner .banner_content {
                    color: #222222;
                    vertical-align: middle;
                    align-self: center;
                    text-align: left;
                }

                    .home_banner_area .banner_inner .banner_content .media .d-flex {
                        padding-right: 125px;
                    }

                    .home_banner_area .banner_inner .banner_content .media .media-body {
                        vertical-align: middle;
                        align-self: center;
                    }

        .blog_banner {
            min-height: 200px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            margin-bottom: 0px;
        }

            .blog_banner .banner_inner {
                background: #04091e;
                position: relative;
                overflow: hidden;
                width: 100%;
                min-height: 400px;
                z-index: 1;
            }

                .blog_banner .banner_inner .overlay {
                    background: url(../img/banner/banner-2.jpg) no-repeat scroll center center;
                    opacity: .5;
                    height: 125%;
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    z-index: -1;
                }

                .blog_banner .banner_inner .blog_b_text {
                    max-width: 700px;
                    margin: auto;
                    color: #fff;
                }

                    .blog_banner .banner_inner .blog_b_text h2 {
                        font-size: 60px;
                        font-weight: bold;
                        font-family: "Heebo", sans-serif;
                        line-height: 66px;
                        margin-bottom: 15px;
                        text-transform: uppercase;
                    }

                    .blog_banner .banner_inner .blog_b_text p {
                        font-size: 16px;
                        margin-bottom: 35px;
                    }

                    .blog_banner .banner_inner .blog_b_text .white_bg_btn {
                        line-height: 42px;
                        padding: 0px 45px;
                        border-radius: 5px;
                    }

        .banner_box {
            max-width: 1620px;
            margin: auto;
        }

        .banner_area {
            position: relative;
            z-index: 1;
            min-height: 350px;
            background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
            background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
            background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
            margin-bottom: 120px;
        }

            .banner_area .box_1620 {
                background: #fff;
                min-height: 40px;
                border-radius: 12px;
                position: relative;
                bottom: -50px;
                box-shadow: 0px 20px 80px 0px rgba(153, 153, 153, 0.3);
            }

            .banner_area .banner_inner {
                position: relative;
                overflow: hidden;
                width: 100%;
                min-height: 360px;
                z-index: 1;
            }

                .banner_area .banner_inner .banner_content h2 {
                    color: #222222;
                    font-size: 48px;
                    font-family: "Heebo", sans-serif;
                    margin-bottom: 0px;
                    font-weight: bold;
                }

                .banner_area .banner_inner .banner_content .page_link a {
                    font-size: 14px;
                    color: #222222;
                    font-family: "Roboto", sans-serif;
                    margin-right: 32px;
                    position: relative;
                }

                    .banner_area .banner_inner .banner_content .page_link a:before {
                        content: "\e87a";
                        font-family: 'Linearicons-Free';
                        position: absolute;
                        right: -25px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    .banner_area .banner_inner .banner_content .page_link a:last-child {
                        margin-right: 0px;
                    }

                        .banner_area .banner_inner .banner_content .page_link a:last-child:before {
                            display: none;
                        }

                    .banner_area .banner_inner .banner_content .page_link a:hover {
                        color: #766dff;
                    }

        .profile_area .col-lg-7 {
            vertical-align: middle;
            align-self: center;
        }

        .profile_inner {
            border-bottom: 1px solid #eeeeee;
        }

            .profile_inner .personal_text {
                padding-left: 95px;
            }

        .personal_text h6 {
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            letter-spacing: 2.1px;
            font-weight: normal;
            margin-bottom: 12px;
            color: #222222;
        }

        .personal_text h4 {
            font-size: 16px;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #222222;
        }

        .personal_text h3 {
            font-size: 48px;
            text-transform: uppercase;
            margin-bottom: 15px;
            color: #222222;
        }

        .personal_text p {
            font-family: "Roboto", sans-serif;
            max-width: 540px;
            color: #777777;
            margin-bottom: 40px;
        }

        .personal_text .basic_info li {
            margin-bottom: 15px;
        }

            .personal_text .basic_info li a {
                position: relative;
                padding-left: 40px;
                font-size: 16px;
                color: #777777;
            }

                .personal_text .basic_info li a i {
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 20px;
                    color: #766dff;
                }

            .personal_text .basic_info li:last-child {
                margin-bottom: 0px;
            }

        .personal_text .personal_social {
            margin-top: 45px;
        }

            .personal_text .personal_social li {
                display: inline-block;
                margin-right: 7px;
            }

                .personal_text .personal_social li:last-child {
                    margin-right: 0px;
                }

                .personal_text .personal_social li a {
                    line-height: 40px;
                    width: 40px;
                    background: #e8e8e8;
                    border-radius: 5px;
                    display: inline-block;
                    text-align: center;
                    color: #fff;
                    font-size: 16px;
                }

                .personal_text .personal_social li:hover a {
                    background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
                    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
                    background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
                }
    </style>
</head>
<body>
    <section class="home_banner_area" style="height:500px;">
        <div class="container box_1620" >
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="pull-left" style="padding-left:10px;">                            
                            <img src="~/Images/Tejkumar.JPG" style="width:550px;height:700px"/>
                        </div>
                        <div class="media-body" style="padding-left:10px;position:relative">
                            <br /> <br />
                                   <div class="personal_text">
                                       <h6>Hello Everybody, i am</h6>
                                       <h4>Tejkumar Yentrapragada</h4>
                                       <h5>Senior .Net Developer</h5>
                                       <p>
                                           Passionate Developer with 3 years of industrial experience, keen to learn new technologies and willing to make a positive impact in an organization.
                                       </p>
                                       <p>
                                           To obtain a challenging and rewarding software engineer position where a degree in computer engineering and
                                           3 years of experience as a programmer will be fully utilized.

                                       </p>   <ul class="list basic_info">
                                           <li><a href="#"><i class="lnr lnr-calendar-full"></i> 23 rd June, 1992</a></li>
                                           <li><a href="#"><i class="lnr lnr-phone-handset"></i> +1 (816) 859 4087</a></li>
                                           <li><a href="#"><i class="lnr lnr-envelope"></i> dunti.210@gmail.com</a></li>
                                           <li><a href="#"><i class="lnr lnr-home"></i> Overland Park, Kansas</a></li>
                                       </ul>
                                              <ul class="list personal_social">
                                                  <li>
                                                      <a href="https://www.facebook.com/Thej210/"><i class="fa fa-facebook"></i></a>
                                                  </li>
                                                  <li>
                                                      <a href="https://github.com/yentrapragada"><i class="fa fa-github"></i></a>
                                                  </li>
                                                  <li>
                                                      <a href="https://twitter.com/Dunti210"><i class="fa fa-twitter"></i></a>
                                                  </li>
                                                  <li>
                                                      <a href="https://www.linkedin.com/in/tejkumaryentrapragada/"><i class="fa fa-linkedin"></i></a>
                                                  </li>
                                                  <li> 
                                                       <a href="https://www.instagram.com/tejkumar_chowdary/"><i class="fa fa-instagram"></i></a> 
                                                  </li>                                                 
                                              </ul>
                                   </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
