@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_LayoutYentrapragada.cshtml";
}

    
<style>
    .contact-info-area {
        background-image: -moz-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
        background-image: -ms-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
    }
</style>
    <section class="contact-info-area w-padding2" data-background="~/Images/backGroundContact.jpg">
       
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-7">
                    <div class="contact-caption mb-50">
                        <h3>If Not Now, When? Let’s Work Together!</h3>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra.</p>
                        <img src="assets/img/gallery/sin.png" alt="">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <form action="#" class="contact-wrapper">
                        <input type="text" name="name" id="txtName" placeholder="Full Name">
                        <input type="email" name="email" id="txtEmail" placeholder="Email Address">
                        <textarea name="message" id="txtMessage" placeholder="Your Message"></textarea>
                        <button class="submit-btn2" type="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
