@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutYentrapragada.cshtml";
}
<!doctype html>
<html class="" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tejkumar Yentrapragada's Profile</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="~/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">

    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/css/slick.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <link href="~/StyleSheet.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {

            $("#btnLearnMore").click(function () {
                $("#pHide").show();
                $("#btnLearnMore").hide();
                $("#btnLeanLess").show();
            });
            $("#btnLeanLess").click(function () {
                $("#pHide").hide();
                $("#btnLearnMore").show();
                $("#btnLeanLess").hide();
            });




        });

        //$("#btnLearnMore").click(function () {
        //    $("#hidSummary").removeClass("hidden");
        //    });
    </script>


</head>
<body>
    <div class="slider-area" style="padding-top:100px;position:relative">
        <div class="slider-active">
            @*<div class="single-slider slider-height d-flex align-items-center">*@
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="banner_content">
                            <h3 class="">Hola!</h3>
                            <h1 class="text-uppercase">I'm Tejkumar Yentrapragada</h1>
                            <h5 class="text-uppercase">Software Developer</h5>
                            </br></br>
                            <div class="d-flex align-items-center">
                                <a class="primary_btn" data-animation="fadeInLeft" data-delay=".8s" href="#" id="btnLearnMore"><span>Learn More</span></a>
                                @*<a href="industries.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Learn More</a>
                                    <a class="primary_btn tr-bg" href="#"><span>Download Resume</span></a>*@

                            </div>

                        </div>
                        @*<p id="pHide" style="display:none">
                                vfdrgttrhytrwwtres
                            </p>*@
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-success  margin-top-2em" id="pHide" style="display:none">
                                    <div class="panel-heading" id="headSummary">Summary</div>
                                    <div class="panel-body panel-hegiht" id="bodySummary">
                                        <ul>
                                            <li>Good Understanding of Design Patterns, Model View Controller (MVC) Architecture, Service Oriented Architecture (SOA) in developing enterprise applications.</li>
                                            <li>Expertise in working with Web Technologies like <strong>HTML, XHTML, CSS JSON, JQuery, AngularJS, XML, Node JS and JavaScript.</strong></li>
                                            <li>Experience with Web Forms, <strong>Web API</strong>, CSS, <strong>ASP.NET, AJAX, JavaScript</strong>, UI design and development consuming and manipulating data using <strong>ADO.NET</strong>.</li>
                                            <li>Expertise in Design and Development of User Interfaces, User Controls and Custom Controls using ASP.NET and C#.</li>
                                            <li>Proficiency in developing applications using <strong>ASP.NET MVC</strong>, ASP.NET Web Forms, LINQ, Windows Communication Foundation(WCF), <strong>Web Service</strong>, Web API.</li>
                                            <li>Expertise in developing Windows Forms.</li>
                                            <li><span style="white-space:pre;">&nbsp;</span>Strong knowledge in WPF assemblies, namespaces, hosting Windows Forms Controls in WPF pages using XAML, WPF elements and dependency properties.</li>
                                            <li>Proficient with .NET Web Services using <strong>SOAP, RESTful</strong>.</li>
                                            <li>Experience in <strong>LINQ&nbsp;</strong>(Language Integrated Query Language), LINQ to SQL, Entity Framework.</li>
                                            <li>Experience in<strong>&nbsp;Entity Framework</strong> an Object-Relational Mapping (ORM) solution for .NET.</li>
                                            <li>Experience in Designing relational databases and developing and tuning SQL Queries, Stored Procedures, User-defined functions, Triggers, SSIS Packages etc. using SQL Server.</li>
                                            <li>Profound experience in developing applications using the Agile SCRUM and TDD Methodologies.</li>
                                            <li>Good Communication, Interpersonal Skills and excellent team player.</li>
                                            <li>Developed Android and IOS applications using <strong>Xamarin</strong> and <strong>React Native</strong>. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br />
                        <div class="d-flex align-items-center">
                            <a class="primary_btn" style="display:none" data-animation="fadeInLeft" data-delay=".8s" href="#" id="btnLeanLess"><span>Show Less</span></a>
                            @*<a href="industries.html" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Learn More</a>
                                <a class="primary_btn tr-bg" href="#"><span>Download Resume</span></a>*@

                        </div>

                    </div>
                    <div class="col-lg-5">
                        <div class="home_right_img">
                            <img src="~/assets/img/Software.gif" />
                        </div>
                    </div>
                </div>
            </div>
            @*</div>*@
        </div>
    </div>
    <section class="about_area section-paddingt30">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-5">
                    <div class="about_img">
                        <img src="~/assets/img/About.gif" />
                    </div>
                </div>

                <div class="offset-lg-1 col-lg-5">
                    <div class="main_title text-left text-primary mb-3">
                        <h2 class="" id="aboutUsH2">
                            let's<br>
                            Introduce about myself

                        </h2>
                        <p>
                            Passionate Developer with 3 years of industrial experience, keen to learn new technologies and willing to make a positive impact in an organization.
                        </p>
                        <p>
                            To obtain a challenging and rewarding software engineer position where a degree in computer engineering and
                            3 years of experience as a programmer will be fully utilized.

                        </p>

                        <a class="primary_btn" href="~/TejkumarResume.pdf" download="TejkumarResume"><span>Download Resume</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="welcome_area p_120">
        <div class="container">
            <div class="row welcome_inner">

                <div class="col-lg-7">
                    <div class="welcome_text">
                        <h4>Technical Skills</h4>
                        <p>
                            3+ Years of experience as a full stack developer in Analysis, Design, Development, Implementation, Integration and Testing of Client/Server, Internet, Intranet Systems for various Industries using Object Oriented Analysis/Design/Methodologies.
                            Proficient in designing and developing web front end, component-based, object-oriented systems for building multi-tier architecture with hands on development expertise in front end GUI layer, application layer including middle-ware and core business frameworks and back-end (database) layer integration.

                        </p>
                        @*<div class="row">
                                <div class="col-md-5">
                                    <div class="wel_item">
                                        <i class="lnr lnr-database"></i>
                                        <h4>3+ Years</h4>
                                        <p>Experience</p>
                                    </div>
                                </div>
                            </div>*@
                        <br />
                        <div class="row">

                            <div class="col-md-5">
                                <div class="wel_item">
                                    <i class="lnr lnr-book"></i>
                                    <h4>
                                        4 / 5 (<span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span> )



                                    </h4>
                                    <p>Team Collobration</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="wel_item">
                                    <i class="lnr lnr-users"></i>
                                    <h4>
                                        3.5 / 5 (<span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-half" style="color:orange"></span>
                                        <span class="fa fa-star"></span> )
                                    </h4>
                                    <p>Learning Skills</p>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="tools_expert">
                        <div class="skill_main">
                            <div class="skill_item">
                                <h4>OOPS Concepts <span class="counter">90</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Programming Languages(C#) <span class="counter">90</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Database (Oracle/ SQL Server) <span class="counter">85</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Scripting (Javascript, jQuery) <span class="counter">80</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Source Control (TFS / Stash) <span class="counter">90</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>



                            <div class="skill_item">
                                <h4> Design Patterns <span class="counter">70</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>  Front End (React / Angular) <span class="counter">50</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Mobile Development (React Native)<span class="counter">50</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </section>


    <section class="mytabs_area p_120">
        <div class="container">
            <div class="tabs_inner">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="font-size:22px">My Experiences</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="font-size:22px">My Education</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" style="">
                    <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list">
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Nov 2018 to present</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>UMKC</h4>
                                        <p>Software Engineerr <br />Kansas, Missouri</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Feb 2018 to Nov 2018</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>University of Missouri</h4>
                                        <p>Software Developer <br /> Columbia, Missouri</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>July 2017 to Dec 2017</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>WiseQ</h4>
                                        <p>.Net Developer <br />Chesterfield, Missouri</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class="list">
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>August 2015 to May 2017</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Master's</h4>
                                        <p>UMKC<br />Kansas City, Missouri</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>August 2010 to May 2014</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>B.Tech</h4>
                                        <p>JNTUK <br />Andhra Pradesh, India</p>
                                    </div>
                                </div>
                            </li>
                            @*<li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>May 2009 to May 2010</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>SSC</h4>
                                        <p>St.Clarets <br />Andhra Pradesh, India</p>
                                    </div>
                                </div>*@
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br />
    <div class="testimonial_area section_gap_bottom">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="main_title">
                        <h2>Certifications</h2>
                        @*<p>
                                Is give may shall likeness made yielding spirit a itself togeth created after sea is in beast <br>
                                beginning signs open god you're gathering ithe
                            </p>*@
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="testi_slider owl-carousel">
                    <div class="testi_item">
                        <div class="row">
                            @*<div class="col-lg-4">
                                    <img src="img/testimonials/t1.jpg" alt="">
                                </div>*@
                            <div class="col-lg-12">
                                <div class="testi_text">
                                    <h4>MTA</h4>
                                    <p>Microsoft Technology Associate (MTA) in Web Development Fundamentals, C#.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row">
                            @*<div class="col-lg-4">
                                    <img src="img/testimonials/t2.jpg" alt="">
                                </div>*@
                            <div class="col-lg-12">
                                <div class="testi_text">
                                    <h4>MOS</h4>
                                    <p>Microsoft Office Specialist (MOS) certified Student in MS Office, MS Excel.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi_item">
                        <div class="row">
                            @*<div class="col-lg-4">
                                    <img src="img/testimonials/t1.jpg" alt="">
                                </div>*@
                            <div class="col-lg-12">
                                <div class="testi_text">
                                    <h4>Web Design</h4>
                                    <p>Web Designing certified by MSME </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="footer_top flex-column">
                        <div class="footer_social">
                            <a href="https://www.facebook.com/Thej210/"><i class="fa fa-facebook"></i></a>
                            <a href="https://github.com/yentrapragada"><i class="fa fa-github"></i></a>
                            <a href="https://twitter.com/Dunti210"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/in/tejkumaryentrapragada/"><i class="fa fa-linkedin"></i></a>
                            @*<a href="#"><i class="fa fa-skype"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>*@
                            <a href="https://www.instagram.com/tejkumar_chowdary/"><i class="fa fa-instagram"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row footer_bottom justify-content-center">
                <p class="col-lg-8 col-sm-12 footer-text">
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Yentrapragadat, Tejkumar
                </p>
            </div>
        </div>
    </footer>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/stellar.js"></script>
    <script src="~/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendors/isotope/isotope.pkgd.min.js"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendors/counter-up/jquery.counterup.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/theme.js"></script>
</body>
</html>

