@{
    ViewData["Title"] = "Work Experience";
}
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-success  margin-top-2em">
            <div class="panel-heading">Summary</div>
            <div class="panel-body panel-hegiht">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="pull-left">

                        </div>
                        <div class="pull-right"><button class="btn btn-success" data-toggle="modal" data-target="#registration" data-student="" data-slots="">Next</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-success margin-top-2em">
            <div class="panel-heading">Technical Skills</div>
            <div class="panel-body panel-hegiht">

            </div>
        </div>
    </div>
</div>
