
@{
    ViewData["Title"] = "NotFound";
    Layout = "~/Views/Shared/_LayoutYentrapragada.cshtml";
}
   
    <div class="container" style="height:570px; text-align:center">     
        <div style="padding-top:50px; font-family:Calibri;font-size:xx-large">
            <img style="height:550px;width:600px;border-radius:60%;;" src="~/Images/Vim-404-Error.gif" />
            <span class="" style="font-family:Calibri;font-size:xx-large;color:orangered"><h3 style="color:orangered">Hola!, we have a 404 (Page Not Found)</h3></span>
        </div>
       
    </div>