@import "https://fonts.googleapis.com/css?family=Open+Sans|Droid+Sans:400";

/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

*/

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*
input,
select,
textarea {
    max-width: 280px;
}*/

html {
    position: relative;
    -ms-text-size-adjust: 100%;
    min-height: 100%;
}

body {
    /*
    padding-top: 60px;
    margin-bottom: 30px;
    */
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
}

/*Bootstrap Custom Overrides */

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        border: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.navbar {
    min-height: 40px;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-brand {
    padding: 10px 15px;
    height: 40px;
}

.navbar-toggle {
    margin-top: 3px;
    margin-bottom: 3px;
}

.navbar-form {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
    margin-top: 3px;
    margin-bottom: 3px;
}

.navbar-btn {
    margin-top: 3px;
    margin-bottom: 3px;
}

    .navbar-btn.btn-sm {
        margin-top: 5px;
        margin-bottom: 5px;
    }

.navbar-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-default {
    background-color: #83a883;
    border-color: #f0ad29;
    border-top: 35px solid #83a883 ;
    border-bottom: 35px solid #83a883;
}

    .navbar-default .navbar-brand {
        color: #ffffff;
    }

        .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
            color: #e6e6e6;
            background-color: transparent;
        }

    .navbar-default .navbar-text, .navbar-default .navbar-link, .navbar-default .navbar-link:hover, .navbar-default .btn-link, .navbar-default .btn-link:hover, .navbar-default .btn-link:focus, .navbar-default .navbar-nav > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
            /*background: #b0babf;*/
            border-bottom: 2px solid #F0AD29;
            height: 40px;
            color: #ffffff;
        }

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
        color: #ffffff;
        background-color: #006298;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #f0ad29;
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
        background-color: #006298;
        color: #ffffff;
    }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #0078B9;
    color: #fff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #ffffff;
            background-color: #0087b9;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #006298;
    }
}


/*Bootstrap custom overrides end*/

/*THEME STYLES*/
body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: calc(100% - 70px);
    margin-right: 35px !important;
    margin-left: 35px !important;
    padding: 0px !important;
}
.panel-heading{
    font-size:18px;
}
.row {
   
    border-bottom: 10px;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px;
    background-color: #edad4c;
    border-top: 10px solid #edad4c;
    border-bottom: 30px solid #edad4c;
    z-index: 3;
    /*line-height: 30px;*/
}

.footer-container {
    color: #2b1d03;
    font-size: 15px;
}



.plainlink, .plainlink:hover {
    text-decoration: none;
    color: inherit;
}

.modal {
    font-size: 12px;
}



.app-brand a {
    margin-left: 0px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 29px;
    font-weight: 300;
    padding-left: 3px;
    color: #fff !important;
    text-decoration: none;
}

    .app-brand a:hover {
        color: #fff;
        text-decoration: none;
    }

.page-header {
    padding-bottom: 0px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
}

@media all and (max-width:411px) {
    .umkc-brand > a > img {
        height: 20px;
    }

    .app-brand {
        font-size: 12px;
        padding: 1px !important;
        line-height: 45px;
    }
}

@media all and (min-width:411px) and (max-width:474px) {
    .app-brand {
        font-size: 13px;
        line-height: 30px;
    }
}

@media all and (min-width:475px) and (max-width:768px) {
    .app-brand {
        font-size: 16px;
        line-height: 30px;
    }
}

@media all and (max-width: 904px) {
    .umkc-brand {
        display: inline-block;
        border-right: none;
    }
}

/*NAVBAR COLLAPSE STYLES*/
.navbar-default .navbar-toggle {
    background-color: #2a84b5;
}

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: transparent;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

/*MENU Styles*/
.search-menu {
    width: 300px;
    padding: 15px;
    border-radius: 2px;
    background: #006298;
    border-top: 2px solid #F0AD29;
}

.solid-menu {
    border-radius: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: #006298;
    border-top: 2px solid #F0AD29;
}

    .search-menu > li > a, .solid-menu > li > a {
        line-height: 2;
        color: #fff;
        padding: 6px 18px;
        font-size: 13px;
    }

.menu-badge {
    position: relative;
    top: -11px;
    left: -4px;
    margin-right: -21px;
    background-color: #D9534F;
    padding: 3px 6px;
}

/*LOGIN PAGE*/
.login, .login-panel {
    margin-top: 50px;
    padding: 30px;
    min-height: 250px;
}

.login-alert {
    position: absolute;
    right: calc(50% - 150px);
    width: 300px;
    text-align: center;
    display: none;
    z-index: 1050;
}

.login-panel h3 {
    margin: 0px;
}

.login-panel .panel {
    box-shadow: 0px 0px 5px 0.8px #ccc;
}

@media all and (max-width: 767px) {
    .login-alert {
        top: 70px;
    }

    .login-panel .panel {
        box-shadow: none;
    }

    .panel-default {
        border: none;
    }

    .login, .login-panel {
        margin-top: 0px;
    }
}

@media all and (max-width: 1365px) and (min-width: 768px) {
    .login {
        margin-top: 50px;
        border: 4px solid #0078B9;
        border-radius: 8px;
    }

    .login-alert {
        top: 50px;
    }
}

@media (min-width:1366px) {
    .login {
        margin-top: 150px;
        border: 8px solid #0078B9;
        border-radius: 4px;
    }

    .login-alert {
        top: 70px;
    }
}

/*SUPPORT MODAL*/
.support-modal .modal-content {
    border: 4px solid #F0AD29;
}

.support-modal textarea {
    resize: none;
}


/*IS Portal Custom Styles*/
.btn {
    border-radius: 1px;
}

.input-group-addon, .form-control {
    border-radius: 1px;
}

.modal-content {
    border-radius: 0px;
}

.srv-item-container {
    padding: 15px;
}

.srv-item {
    position: relative;
    height: 100px;
    box-shadow: 0px 0px 2px #ccc;
    color: #fff;
    background-color: #0078B9;
    padding: 15px;
    border-radius: 5px;
}

.srv-item-admin {
    position: relative;
    height: 100px;
    box-shadow: 0px 0px 2px #ccc;
    color: #fff;
    background-color: #FD1919;
    padding: 15px;
    border-radius: 5px;
}

.srv-item-label {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 11px;
    padding: 6px;
}

.srv-item:hover {
    background: #1985C0;
    box-shadow: 0px 0px 2px #ccc;
    border: 0px solid #0078B9;
}

.srv-item-admin:hover {
    background: #ff8080;
    box-shadow: 0px 0px 2px #ccc;
    border: 0px solid #fd2f2f;
}

.srv-icon {
    width: 35px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    color: #272727;
    font-size: 16px;
    line-height: 35px;
    border-radius: 999px;
}

.srv-title {
    font-size: 14px;
    margin-top: 8px;
}

.srv-badge-icon {
    position: absolute;
    right: 6px;
    font-size: 15px;
    top: -41px;
}

.srv-complete-hover {
    opacity: 0.65;
    position: absolute;
    z-index: 9;
    background: #2095D3;
    display: none;
    padding: 5px;
    border-radius: 5px;
}

.srv-complete-hover-detail {
    position: absolute;
    display: none;
    z-index: 10;
    bottom: 22px;
    right: 22px;
    border-radius: 5px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.popover-content hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.srv-corner-label {
    width: 0px;
    height: 0px;
    border-left: 50px solid transparent;
    border-top: 50px solid #5CB85C;
    font-size: 10px;
    line-height: 0px;
    position: absolute;
    top: 0;
    right: 0;
}

.srv-item-container a, .srv-item-container a:hover, .srv-item-container a:visited {
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.scrollable {
    border: 0.5px solid #e4e4e4;
    border-radius: 5px;
}
.scrollable .list-group-item {
    border-left: 0;border-right: 0px
}
.scrollable li:nth-child(1) {
    border-top: 0 none;
}
/*Administrator*/
.admin-action-btn {
    margin-left: 25px;
}
/*.cke_inner{border: 1px solid #ccc !important;box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;}*/
